<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<meta charset="UTF-8" />
	<!--/*
		see more on CSRF + AJAX in
		https://docs.spring.io/spring-security/site/docs/4.1.3.RELEASE/reference/html/csrf.html#csrf-include-csrf-token-ajax
	*/-->
	<meta name="_csrf" th:content="${_csrf.token}" content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}" content="${_csrf.headerName}"/>

	<title>Points Of Sale</title>
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Points Of Sale</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="/">Home</a></li>
						<li><a href="/api/rest/v1">REST API</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><span class="navbar-text">Signed in as <span sec:authentication="name">Bob</span></span></li>
						<li>
							<form th:action="@{/logout}" method="post">
								<button type="submit" class="btn btn-default navbar-btn">Sign Out</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<h1>Welcome to Points Of Sale</h1>

		<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#point-of-sale-modal">Add new Point of Sale</button>
		<table class="table table-striped table-hover points-of-sale-result-table" data-endpoint-url="/api/rest/v1/points-of-sale">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone Number</th>
					<th>Address</th>
					<th>Opening Hours</th>
					<th>
						<span class="pull-right">Actions</span>
					</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>

		<template id="point-of-sale-row-tmpl">
			{{#.}}
			<tr>
				<td>{{ name }}</td>
				<td>{{ phoneNumber }}</td>
				<td>{{ address.streetName }}, {{ address.number }}, {{ address.city }}, {{ address.neighborhood }}, {{ address.zipCode }}</td>
				<td>
					<ul>
						{{#openingHours}}
						<li>{{ dayOfWeek }}, {{start}} ~ {{end}}</li>
						{{/openingHours}}
					</ul>
				</td>
				<td>
					<div class="pull-right">
						<button class="btn btn-danger remove-trigger" data-endpoint-url="{{ _links.self.href }}">Remove</button>
					</div>
				</td>
			</tr>
			{{/.}}
		</template>
	</div>

	<div class="modal fade" id="point-of-sale-modal" tabindex="-1" role="dialog" >
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" >Point of Sales</h4>
				</div>
				<div class="modal-body">

					<form class="form-horizontal" action="/api/rest/v1/points-of-sale/" method="post" data-endpoint-url="/api/rest/v1/points-of-sale/">
						<div class="panel panel-default">
							<div class="panel-heading">General</div>

							<div class="form-group">
								<label for="input-name" class="col-sm-2 control-label">Name</label>
								<div class="col-sm-10">
									<input name="name" type="text" class="form-control required" id="input-name" placeholder="Name" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="input-phone-number" class="col-sm-2 control-label">Phone Number</label>
								<div class="col-sm-10">
									<input name="phoneNumber" type="text" class="form-control required" id="input-phone-number" placeholder="Phone Number" required="required"/>
								</div>
							</div>
						</div>

						<div class="panel panel-default">
							<div class="panel-heading">Address</div>

							<div class="form-group">
								<label for="input-street-name" class="col-sm-2 control-label">Street</label>
								<div class="col-sm-10">
									<input name="address.streetName" type="text" class="form-control required" id="input-street-name" placeholder="Street Name" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="input-street-number" class="col-sm-2 control-label">Number</label>
								<div class="col-sm-10">
									<input name="address.number" type="text" class="form-control required" id="input-street-number" placeholder="Street Number" required="required"/>
								</div>
							</div>

							<div class="form-group">
								<label for="input-neighborhood" class="col-sm-2 control-label">Neighborhood</label>
								<div class="col-sm-10">
									<input name="address.neighborhood" type="text" class="form-control required" id="input-neighborhood" placeholder="Neighborhood" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="input-city" class="col-sm-2 control-label">City</label>
								<div class="col-sm-10">
									<input name="address.city" type="text" class="form-control required" id="input-city" placeholder="City" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="input-state" class="col-sm-2 control-label">State</label>
								<div class="col-sm-10">
									<input name="address.state" type="text" class="form-control required" id="input-state" placeholder="State" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="input-country" class="col-sm-2 control-label">Country</label>
								<div class="col-sm-10">
									<input name="address.country" type="text" class="form-control required" id="input-country" placeholder="Country" required="required"/>
								</div>
							</div>
							<div class="form-group">
								<label for="input-zipcode" class="col-sm-2 control-label">Zip Code</label>
								<div class="col-sm-10">
									<input name="address.zipCode" type="text" class="form-control required" id="input-zipcode" placeholder="Zip Code" required="required"/>
								</div>
							</div>
						</div>

						<div class="panel panel-default opening-hours-panel">
							<div class="panel-heading">Opening Hours</div>

							<button type="button" class="btn btn-primary add-opening-hour-line-trigger">Add</button>

							<div class="opening-hours-container">
								<div class="row opening-hour">
									<div class="col-xs-4">
										<select name="dayOfWeek"  class="form-control input-sm required" required="required">
											<th:block th:each="dow : ${ {'MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY'} }">
												<option th:value="${dow}" th:text="${dow}"></option>
											</th:block>
										</select>
									</div>
									<div class="col-xs-3">
										<input type="time" name="start" class="form-control input-sm required time" required="required" placeholder="Start" />
									</div>
									<div class="col-xs-3">
										<input type="time" name="end" class="form-control input-sm required time" required="required" placeholder="End" />
									</div>
								</div>
							</div>

							<template id="opening-hour-row-tmpl">
								<div class="row opening-hour">
									<div class="col-xs-4">
										<select name="dayOfWeek"  class="form-control input-sm required" required="required">
											<th:block th:each="dow : ${ {'MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY'} }">
												<option th:value="${dow}" th:text="${dow}"></option>
											</th:block>
										</select>
									</div>
									<div class="col-xs-3">
										<input type="time" name="start" class="form-control input-sm required time" required="required" placeholder="Start" />
									</div>
									<div class="col-xs-3">
										<input type="time" name="end" class="form-control input-sm required time" required="required" placeholder="End" />
									</div>
									<div class="col-xs-2">
										<button type="button" class="btn btn-default btn-sm remove-trigger">
											<span class="glyphicon glyphicon-minus"></span>
										</button>
									</div>
								</div>
							</template>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary save-trigger">Save</button>
				</div>
			</div>
		</div>
	</div>

	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>

	<script th:src="@{/home.js}" src="/home.js"></script>
</body>
</html>
